#main {
    background-color: #010931;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/* Navbar css */
.nav-text {
    color: white;
    text-shadow: 2px 2px #000000;
}
.navbarScroll.navbarDark {
    background-color: #000C33;
    box-shadow: 0 2px 4px 0 rgba(0, 255, 8, 0.28)
}
/* hero-page css */
.bgimage {
    height:100vh;
    /* Polygon shape vector created by freepik - www.freepik.com */
    background: url('images/bg.jpg');
    background-size:cover;
    position:relative;
}
.home-title {
    font-size: 4.5rem;
}
.home-desc {
    font-size: 2rem;
}
.home-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 2px 2px #000000;
    transform: translate(-50%, -50%);
    color: white;
}

/* about page css */
#about {
    background-color: #00205D;
}
.about-image {
    width: 100%;
}

#work {
    background-color: #00205D;
}

.card {
    background-color: #472C4C;
    height: 100%;
    width: 100%;
}

.footer-icons {
    font-size: 38px;
    text-align: center;
}

.footer-icons .fab {
    color:darkslateblue;
}

/* spacing on all sections for the navbar to not overlap */
#about, #work, #projects, #contact {
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}