.container {
  margin: auto;
  max-width: 500px;
}

h1 {
  text-align: center;
}

img {
  position: relative;
  left: 100px;
  border-radius: 60%;
  height: 300px;
  width: 300px;
}

p::first-line {
  color: blue;
}