.container {
  width: 300px;
  padding: 15px;
  border: 1px solid var(--navy);
  border-radius: 5px 5px 5px 5px;
}

h2.card {
  text-align: center;
}

.image {
  width: 100%;
}

.btn {
  width: 100%;
  background-color: var(--navy);
  border: none;
  color: var(--white);
  padding: 14px;
  transition-duration: 0.4s;
}

.btn:hover {background-color: var(--orange);}
