:root {
  --main-color: navy;
  --btn-transition-color: orange;
  --active-color: white;
}

.container {
  width: 300px;
  padding: 15px;
  border: 1px solid var(--main-color);
  border-radius: 5px 5px 5px 5px;
}

h2.card {
  text-align: center;
}

.image {
  width: 100%;
}

.btn {
  width: 100%;
  background-color: var(--main-color);
  border: none;
  color: var(--active-color);
  padding: 14px;
  transition-duration: 0.4s;
}

.btn:hover {background-color: var(--btn-transition-color);}

.btn:focus {background-color: var(--active-color);}
