h1 {
  text-align: center;
}

/* Code for exercise 01-flex */
.flex-container-1 {
  display: flex; 
  flex-flow: row wrap-reverse; /* Shorthand */
  justify-content: flex-end;
}

.flex-container-1 .item1 { order: 3; }
.flex-container-1 .item2 { order: 3; }
.flex-container-1 .item3 { order: 5; }
.flex-container-1 .item4 { order: 2; }
.flex-container-1 .item5 { order: 6; }
.flex-container-1 .item6 { order: 7; }
.flex-container-1 .item7 { order: 1; }
.flex-container-1 .item8 { order: 8; }

/* Code for exercise 02-flex */

.flex-container-2 {
  height: 400px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: center; 
}

/* Code for exercise 03-grid */
.grid-container-1 {
  display: grid;
  min-height: 85vh;
  grid-template: 
            'seven seven seven seven'
            'one two two three'
            'four two two five'
            'four two two five'
            'six six eight eight';
  gap: 5px;
}

.grid-container-1 .item1 { grid-area: one; }
.grid-container-1 .item2 { grid-area: two; }
.grid-container-1 .item3 { grid-area: three; }
.grid-container-1 .item4 { grid-area: four; }
.grid-container-1 .item5 { grid-area: five; }
.grid-container-1 .item6 { grid-area: six; }
.grid-container-1 .item7 { grid-area: seven; }
.grid-container-1 .item8 { grid-area: eight; }

/* Code for exercise 04-grid */

/* Code for exercise 05-bootstrap-grid */

.bootstrap-grid .row > * {
  height: 100px;
  border: 1px solid var(--white);
  padding: 10px;
}

.bootstrap-grid .row:nth-child(1) > * {
  background-color: var(--purple);
}

.bootstrap-grid .row:nth-child(2) > * {
  background-color: var(--navy);
}

.bootstrap-grid .row:nth-child(3) > * {
  background-color: var(--teal);
}

.bootstrap-grid .row:nth-child(4) > * {
  background-color: var(--green);
}

/* Code for exercise 06-bootstrap-form */
